@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+JP&family=Open+Sans&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* font-family: 'Great Vibes', cursive;
font-family: 'Noto Serif JP', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}

p{

}

img {
    width: 100%;
    height: auto;
}
/* END OF GLOBAL STYLES */
nav {
    display: flex;
    justify-content: center;
}

button#hamburgerBtn {
    background: none;
    border: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
  }


  .hero {
      overflow: auto;
      background-image: url("/images/banner.jpeg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 800px;
      width: 100%;
  }

  .hero-display {
      display: flex;
      justify-content: center;
      margin-top: 400px;
      gap: 50px;
  }

  .hero-display h1 {
      font-size: 6rem;
      font-weight: bolder;
      font-style: italic;
      color: #fff;
  }
 
  .hero-text{
      background:  #fff;
      padding: 20px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  } 


  .second-section {
      overflow: auto;
      background: rgb(233, 196, 202);
      padding: 250px;
      color: #fff;
  }

  .big-h{
      font-size: 60px;
      font-weight: bolder;
  }

  .text-area-two {
      max-width: 70%;
  }

  .text-area-two p {
      max-width: 50%;
  }

  .grid{
      display: flex;
  }

  .grid>img {
      width: 33.3%
  }


  .fourth-section {
    overflow: auto;
    background: rgb(233, 196, 202);
    padding: 150px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .flex-form>h1 {
      text-align: center;
      font-style: italic;
  }

  .form-container form input {
      padding: 13px;
      border-radius: 20px;
      color: rgb(219, 205, 205);
      width: 20em;
      border: none;
  }

  .flex-form #btn {
    padding: 11.5px;
    border-radius: 20px;
    width: 11.5em;
    color: #fff;
    background: black;
    border: none;
  }

  .form-container{
      margin-top: 100px;
      
  }

  .article-section {
      padding: 70px 120px;
      display: flex;
      justify-content: center;
      gap: 70px;
  }
 .img-div {
     width: 30%;
 }
  .signature-part {
      max-width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  #signature>h3 {
      color: rgb(233, 196, 202);
      font-family: 'Great Vibes', 'cursive';
      font-style: italic;
      font-size: 3rem;
  } 
  

 .sixth-section {
      background: rgb(233, 196, 202);
      padding: 150px;
      color: #fff;
 }

 .slide-section {
     display: flex;
     flex-direction: column;
 }

.slide-section>h1 {
    text-align: center;
    font-style: italic;
    font-size: 4rem;
}

.slide-section>.iconify-inline {
    font-size: 3rem;
    text-align: center;
    width: 100%;
}


 .img-slide>img {
        width: 23%;
        height: 400px;
        object-fit: cover;
        margin: 2.5px;
 }


 .product-section {
    padding: 90px 200px;
    display: flex;
    justify-content: center;
    gap: 30px;
 }

 .product-section>img {
     width: 33.3%;
 }
 

 .product-price {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }


 .product-price>h4{
     font-weight: bolder; 
 }

 .product-price>p {
    font-size: smaller;
 }

 .product-price>button {
    padding: 11.5px;
    border-radius: 20px;
    width: 13.5em;
    color: #fff;
    background: black;
    border: none;
 }

 .background-div{
    max-width: 50%;
    background-image: url("/images/subscribe.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 100%;
 }
 .last-section {
     display: flex;
     gap: 50px;
 }

 #last-h1 {
     text-align: center;
 }

 .form-container-2>form input{
        padding: 13px;
        color: rgb(219, 205, 205);  
        width: 20em;
        border-color: #d3d3d3;
 }

 .form-container-2>form{
     margin: 20px;
 }
.space {
    padding: 20px;
}
 
.center-btn>#btn2 {
    padding: 10.5px;
    border-radius: 20px;
    width: 7.5em;
    color: #fff;
    background: black;
    border: none;
}
.center-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

 hr {
     border: 5px solid rgb(233, 196, 202) ;
     width: 100%;
 }

 .last-right {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .last-right>h1 {
     font-style: italic;
 }

 .last-right p {
     font-size:smaller ;
     max-width: 50%;
     font-size: 1rem;
     text-align: center;
 }

 #text-align{
     display: flex;
     justify-content: center;
 }

 .social-icons {
     display: flex;
     justify-content: center;
 }

 .social-icons>.iconify-inline{
     font-size: 1.7em;
 }